# .gitattributes 文件

# 标记 Dune 配置文件为不可见（不计入语言统计）
dune              linguist-vendored
dune-project      linguist-vendored
dune-workspace    linguist-vendored

# 确保 OCaml 文件被正确识别
*.ml              linguist-language=OCaml
*.mli             linguist-language=OCaml
*.ocamlinit       linguist-language=OCaml